.upload-area{
    /* width: 45%; */
    width: 32vw;
    height: 145px;
    /* border: 2px dashed #0073ae ; */
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%230872A9FF' stroke-width='1' stroke-dasharray='16%2c 12' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    /* background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%230872A9FF' stroke-width='2' stroke-dasharray='23%2c 13%2c 19' stroke-dashoffset='17' stroke-linecap='square'/%3e%3c/svg%3e"); */

}

.c-light-gr{
    color:rgb(155, 155, 155);
}

.f-jakarta-semi-bold {
    font-family: 'Jakarta-semi-bold' !important;
}


.f-jakarta-medium{
    font-family: 'Jakarta-medium' !important;
}

.f-poppins-medium{
    font-family: 'Poppins-medium' !important;
}

.plus-icon{
    position: absolute;
    top: 16%;
    left:17vw;
    opacity: 0.83;
}