<section>
    <div class="container-fluid">
        <div class="row header-section p-10">
            <div class="col-md-5 p-10">
                <div class="logo-container">
                </div>
                <div class="logo-text f-w-500">
                    {{'portalName' | translate}}
                </div>
            </div>
        </div>
        <div class="loginContainer">
            <div class="leftSideLogo">
                <div class="leftSideImage">
                    <img src="./assets/icons/login1.PNG" alt="login image" />
                </div>
            </div>
            <div class="rightSideForm">
                <form>
                    <div class="info">
                        {{'newPassword' | translate}}
                    </div>
                    <!-- <div class="content">
                        Lorem Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    </div> -->
                    <div>
                        <input type="password" placeholder="New Password" />
                    </div>
                    <div class="clear"></div>
                    <div class="requiredField">
                        <!-- <small class="error">
                            User Name is required
                        </small> -->
                    </div>
                    <div>
                        <input type="password" placeholder="Confirm Password" />
                    </div>
                    <div class="requiredField">
                        <!-- <small class="error">
                            Password is required
                        </small> -->
                    </div>
                    <div class="clear"></div>
                    <div class="submitField">
                        <button type="submit" >
                            {{'confirm' | translate}}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>