@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
  font-family: 'Jakarta-regular';
  src: url('src/assets/fonts/PlusJakartaSans-Regular.ttf');
}
@font-face {
  font-family: 'Jakarta-medium';
  src: url('src/assets/fonts/PlusJakartaSans-Medium.ttf');
}
@font-face {
  font-family: 'Jakarta-semi-bold';
  src: url('src/assets/fonts/PlusJakartaSans-SemiBold.ttf');
}


section {
  width: 100%;
}

/* ::placeholder {
  font-weight: 400;
  font-size: 11px;
  color: #a3a3a3;
} */

a {
  color: rgba(83, 81, 81, 0.856);
  font-weight: 480;
  font-size: 11px;
}

a:hover {
  text-decoration: none;
}

button:hover {
  background-color: none;
}



.loginContainer {
  width: 630px;
  height: 400px;
  margin: 0 auto;
  display: flex;
  margin-top: 8%;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.603);
}

.leftSideLogo {
  margin: 10px;
  width: 330px;
  border-right: 1px solid rgb(141, 93, 253);
  position: relative;
  padding-left: 10px;
  float: left;
}

.leftSideLogo img {
  width: 100%;
  height: 100%;
}

.leftSideImage {
  margin-top: 20px;
  width: 310px;
  height: 300px;
}

.rightSideForm {
  width: 300px;
  float: left;
  height: 100%;
  padding: 10px 10px 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.info {
  display: flex;
  justify-content: center;
  font-weight: 540;
  font-size: 20px;
  line-height: 19px;
  color: rgba(83, 81, 81, 0.856);
  margin-bottom: 15px;
}

.content {
  width: fit-content;
  font-size: 11px;
  color: rgba(83, 81, 81, 0.692);
  font-weight: 500;
  line-height: 15px;
  padding: 0px 5px;
  margin: 0px 5px 15px 5px;
  align-items: center;
}

.submitField {
  text-align: center;
  position: relative;
  z-index: 2;
}

button {
  float: right;
  position: relative;
  border-radius: 50px;
  padding: 2px 20px;
  color: rgba(83, 81, 81, 0.856);
  background-color: white;
  font-weight: 500;
  font-size: 12px;
  border: 1px solid#504e4d;
  cursor: pointer;
  outline: none;
  margin-right: 15px;
}

.header-section {
  background-color: rgb(141, 93, 253);
}

.logo-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo-image i {
  font-size: 40px;
  float: left;
  color: #fff;
}

.logo-text {
  color: #fff;
  font-size: 28px;
  white-space: nowrap;
}

.requiredField {
  width: auto;
  height: 15px;
  line-height: 0px;
  margin-top: 5px;
  text-align: center;
  line-height: 5px;
}

.error {
  color: red;
}

.spinner {
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 5;
  top: 40%;
  left: 48%;
}

.spinner img {
  width: 100%;
}

.inp-p {
  position: absolute;
  line-height: 10px;
  height: 24px;
  width: 96%;
}



.clear {
  clear: both;
}

mat-icon.m-icon {
  font-size: 18px;
  line-height: 24px;
}


.content-body{
  min-height: 100%;
  height: 100vh;
  background: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-error{
  border-radius: 2px!important;
  width: 35vw!important;
  display: flex;
  flex-direction: column;
  text-align: center!important;
  justify-content: center;
  align-items: center!important;
}

.cookie-block-error{
  color:rgb(85, 85, 85);
  font-family: 'Jakarta-medium'!important;
}

.p-55-1rem{
  padding: 0.5rem 55px;
}
.p-55-0rem{
  padding: 0 55px;
}

mat-card {
    max-width: 600px;
    width: 35vw;
    margin: 2em auto;
    text-align: center;
    /* max-height: 600px; */
    border-radius: 6px!important;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .header{
    text-align: center;
  
  }
  .full-width {
    width: 80%;
  }
  
  .button-row {
    padding-top: 5px;
  }
  
  .button-row a {
    margin-right: 8px;
    text-align: center;
  }
  
  .forget-password{
    padding-left: 0px;
  }
  
  .emailInput{
    /* padding-top: 10px; */
    max-width: 600px;
    width: 35vw;
  }
  .passInput{
    /* padding-top: 10px; */
    max-width: 600px;
    width: 35vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .pass-field{
    width: calc(80%);
  }

  .pass-field .mat-form-field-wrapper{
    padding-bottom: 0!important;
  }
  ::ng-deep .mat-form-field-wrapper{
    margin-bottom: -1.25em;
 }

 .pass-field  .mat-form-field-wrapper {
  margin-bottom: -1.25em;
  padding-bottom: -1.25em;
}
  .contentBody {
    padding: 60px 1rem;
    background :#1b6ca8;
    display: block;
  }
  
  .aLink{
    float: right;
    padding-right: 60px;
    text-decoration: none;
  }
  
  .mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: rgb(210, 210, 210);
}

.btn-outer{
  display: flex!important;
  align-items: center!important;
  justify-content: center!important;
}

.login-btn{
  /* max-width: 600px; */
  width: calc(90% - 8px)!important;
  border-radius: 6px!important;
  /* background-color: #49a1c9; */
  background-color: var(--logocolor);
  color:white;
  font-family: 'Jakarta-semi-bold'!important;
  
}


.reset-btn{
   /* max-width: 600px; */
   width: calc(80%)!important;
   border-radius: 6px!important;
   /* background-color: #49a1c9; */
   background-color: #2b59b5;
   color:white;
   font-family: 'Jakarta-semi-bold'!important;
  
}

.cancel-btn{
  width: 90px;
  border-radius: 6px!important;
  /* background-color: #49a1c9; */
  background-color: transparent;
  color:rgb(72, 72, 72);
  border: 0!important;
  padding: 4px;
  font-family: 'Jakarta-semi-bold'!important;
  
}

.cancel-btn:hover{
  background-color: whitesmoke;
}


.basic-color{
  color:#438ec7!important;
}

.eyeIcon {
  position: absolute;
  z-index: 4;
  right: 10px;
  bottom: 70%;
  cursor: pointer;
  width: 5px;
  height: 1px;
  border: 0!important;
  outline: none!important;
  padding: 0!important;
  
}

.c-drk{
  color:rgb(45, 45, 45);
}

.zmap-header{
 font-family: 'Jakarta-semi-bold'!important;
}

.change-pass{
 color:#073ba1;
 padding-left: 0!important;
}

::ng-deep  .mat-form-field-appearance-outline .mat-form-field-infix{
  padding-top: 0.8rem!important;
  padding-bottom: 0.8rem!important;

}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-subscript-wrapper{
  padding-left: 0!important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: rgb(218, 218, 218)!important;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
color: #2a5dc4;
}

::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
color: rgb(218, 218, 218)!important;
opacity: 0.8!important;
}


::ng-deep .mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element {
  caret-color: rgb(174, 174, 174)!important;
}



.go-back{
color:var(--logocolor);
font-family:'Jakarta-semi-bold'!important;
}